div.d-wrap[data-wrap="placeholder"] {
  margin: 1em 0;
}

.d-wrap[data-wrap="placeholder"] {
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 5px solid var(--primary-low);
  background-color: var(--blend-primary-secondary-5);

  .discourse-placeholder-name {
    width: 200px;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 0.5em;
    min-width: 250px;
  }

  p,
  .discourse-placeholder-name {
    font-size: var(--font-down-1);
    color: var(--primary-or-secondary);
  }

  p {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .discourse-placeholder-value,
  .discourse-placeholder-select {
    box-sizing: border-box;
    margin-left: 1em;
  }

  .discourse-placeholder-value {
    width: 350px;
    padding: 0.5em;
    line-height: var(--line-height-small);
    color: var(--primary);
    background-color: var(--secondary);
    border: 1px solid var(--primary-medium);
  }

  .discourse-placeholder-select {
    width: 350px;
    margin: 0.5em 0;
    line-height: var(--line-height-small);
    color: var(--primary);
    background-color: var(--secondary);
    border: 1px solid var(--primary-medium);
  }
}

.discourse-placeholder-builder {
  overflow: auto;

  .input {
    input {
      margin: 0;
      width: 100%;
    }
  }

  .multi-select {
    width: 100%;
  }

  .description {
    font-size: $font-down-1;
    color: var(--primary-medium);
    margin: 0.25em 0 1em 0;
  }
}
